@import "../variables";

.register__container {
    background-color: $color-white;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;

    &-header {
        padding: 18px;
        border-bottom: 1px solid #ddd;
    }
    &-title {
        font-size: 18px;
        display: inline-block;
        margin-top: 10px;
    }

    &-body {
        padding: 24px;

        hr {
            margin-top: 24px;
            margin-bottom: 24px;
            border: 0;
            border-top: 1px solid #eee;
            opacity: 1;
        }

        label {
            margin-bottom: 5px;
            display: inline-block;
            font-size: 13px;
        }
    }
}

.pull-right {
    text-align: right;
}
