@charset "utf-8";

/* tailwindcss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* imported bulma for css */
@import "../../../node_modules/bulma/css/bulma.css";

/* imported variables file */
@import "./_variables.css";

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Sora", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 500 !important;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-purple {
  @apply bg-primary-500 text-white;
}

.btn-teal {
  @apply bg-secondary-300 text-white;
}

.btn-white {
  @apply bg-white;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

/* utility classes */
.small {
  font-size: 80%;
}

.w-75 {
  width: 75% !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
